* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #EFE6EC;
}
nav {
  background: #623950;
  box-shadow: 2px 0.2px 10px #58374A;
  position: fixed;
  width: 100%;
  z-index: 5;  
}
nav:after {
  content: '';
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  font-size: 30px;
   font-weight: bold;
  line-height: 70px;
  padding-left: 35px;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 35px;
  position: relative;
  gap: 25px;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #623950;
  margin: 0 5px;
}

nav ul li a {
  color: #EFE6EC;
  text-decoration: none;
  line-height: 70px;
  font-size: 20px;
  padding: 10px 15px;
}

nav ul li a:hover {
  color: #EFE6EC;
  border-radius: 5px;
  box-shadow: 0 0 5px #DCC4D0,
              0 0 5px #D2B2C2;
}

nav ul ul li a:hover {
  color: #E0CCD6;
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #B98DA4;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease, opacity 0.3s ease;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 190px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  font-size: 18px;
  line-height: 50px;
}
.show, .icon, input {
  display: none;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  padding: 120px 0 60px;
  text-transform: uppercase;
  font-size: 30px;
  word-spacing: 5px;
}

.section-title::after {
  content: "";
  width: 120px;
  height: 5px;
  display: block;
  margin: 10px auto 0; 
  border-radius: 5px;
  background-color: #B8819E;
}

.section-content .section-subtitle {
  text-align: center;
  font-size: 25px;
}

.section-content .event {
  text-align: center;
  font-size: 21px;
}


/* Community Service Section Styling */
.service-section {
  min-height: 100vh;
  background-color: #EFE6EC;
  padding: 50px 0 100px;
}

.LEO-image  {
  height: 350px;
  width: 600px;
  margin-bottom: 85px;
}

.NTHS-image {
  margin-bottom: 85px;
}
.SKILLS-image {
  margin-bottom: 85px;
}

/* Image Slider Styling */
.slider-wrapper .evidence-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.slider-wrapper .evidence-list .LEO-image {
  object-fit: cover;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.slider-wrapper .evidence-list .NTHS-image {
  object-fit: cover;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.slider-wrapper .evidence-list .SKILLS-image {
  object-fit: cover;
  scroll-snap-align: start;
}


.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  padding: 0 60px;
}

.slider-container .slider-wrapper {
  max-width: 720px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}

/* NTHS Slider Container */
.nthsS1-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.nthsS1-slider-container .slider-wrapper {
  max-width: 720px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}
.nthsS2-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.nthsS2-slider-container .slider-wrapper {
  max-width: 600px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}

/* SkillsUSA Slider Container */
.skills-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.skills-slider-container .slider-wrapper {
  max-width: 475px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* Image Slider Buttons */
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #EFE6EC;
  box-shadow: 0px 0.2px 3px #58374A;
  border: none;
  outline: none;
  font-size: 2.2rem;
  background: #623950;
  cursor: pointer;
  border-radius: 25%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #8D5374;
}

.slider-wrapper .slide-button#prev-slide {
  left: -60px;
  display: none;
} 
.slider-wrapper .slide-button#next-slide {
  right: -60px;
} 