* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #EFE6EC;
}
nav {
  background: #623950;
  box-shadow: 2px 0.2px 10px #58374A;
  position: fixed;
  width: 100%;
  z-index: 5;  
}
nav:after {
  content: '';
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  font-size: 30px;
   font-weight: bold;
  line-height: 70px;
  padding-left: 35px;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 35px;
  position: relative;
  gap: 25px;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #623950;
  margin: 0 5px;
}

nav ul li a {
  color: #EFE6EC;
  text-decoration: none;
  line-height: 70px;
  font-size: 20px;
  padding: 10px 15px;
  font-family: Anton SC;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #EFE6EC;
  border-radius: 5px;
  box-shadow: 0 0 5px #DCC4D0,
              0 0 5px #D2B2C2;
}

nav ul ul li a:hover {
  color: #E0CCD6;
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #B98DA4;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease, opacity 0.3s ease;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 195px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  font-size: 18px;
  line-height: 50px;
  font-family: Anton SC;
  letter-spacing: 1px;
}
.show, .icon, input {
  display: none;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: left;
  padding: 120px 0 5px 30px;
  font-size: 55px;
  word-spacing: 5px;
  font-weight: bold;
  font-family:  Anton SC;
  letter-spacing:   2px;
  word-spacing:   3px;
  line-height:  90px;
  color: #4B2F40;
}
.section-title::after {
  content: "";
  width: 200px;
  height: 5px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 123px;
  background-color: #B8819E;
}

.subtitle {
  text-align: left;
  padding-left: 30px;
  letter-spacing:   2px;
  font-size: 35px;
  font-weight: bold;
  font-family: Anton SC;
  color: #4B2F40;
}
.description {
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 25px;
  font-family: Roboto Condensed;
  color: #4B2F40;
  font-weight: lighter;
}

#grid {
  width: 950px;
  height: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: 330px 330px 330px; /* Adjusts rows automatically */
}

#grid a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Ensures link text inherits color styling */
}

#grid a .section-content {
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: transform 0.2s ease; /* Adds hover effect */
}

#grid a .section-content:hover {
    transform: scale(1.05); /* Slightly enlarges the box on hover */
}

.leo-grid {
    border: 4px solid #4B2F40;
    border-radius: 10px;
    height: 18rem;
    grid-row: 1 / span 2;
    grid-column: 1;

}
.nths-grid {
  border: 4px solid #4B2F40;
  border-radius: 10px;
  height: 18rem;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.skills-grid {
  border: 4px solid #4B2F40;
  border-radius: 10px;
  height: 18rem;
  grid-row: 2 / span 3;
  grid-column:  1 / span 2;
}
.interact-grid {
  border: 4px solid #4B2F40;
  border-radius: 10px;
  height: 18rem;
  grid-row: 2 / span 3;
  grid-column:  1 / span 2;
}
.misc-grid {
  border: 4px solid #4B2F40;
  border-radius: 10px;
  height: 18rem;
  grid-row: 3;
  grid-column:  1 / span 2;
}

/* Styling for the club title labels */
.section-content .section-subtitle {
  font-family: Anton SC;
  font-size: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #333;
  text-align: left;
  padding:  10px 0 12px 12px;
  color: #4B2F40;
}
.section-content .club-description {
  font-family: Roboto Condensed;
  font-size: 20px;
  margin-left: 5px;
  padding:  0 12px 20px 12px;
  padding-bottom: 50px;
  font-weight: lighter;
}

/* Make the last section span the full width */
/**.section-content:last-child {
    grid-column: span 1.5; /* Spans across both columns */
/*    justify-content: space-between;
} */

/* Community Service Section Styling */

/* .LEO-section {
  min-height: 100vh;
  background-color: #EFE6EC;
  padding: 50px 0 100px;
}
.NTHS-section {
  min-height: 100vh;
  background-color: #EFE6EC;
  padding: 50px 0 100px;
}
.MISC-section {
  min-height: 100vh;
  background-color: #EFE6EC;
  padding: 50px 0 100px;
}
.SKILLS-section {
  min-height: 100vh;
  background-color: #EFE6EC;
  padding: 50px 0 100px;
} 

img {
  border-radius: 10px;
}

.LEO-image  {
  margin-bottom: 85px;
}

.NTHS-image {
  margin-bottom: 85px;
}
.SKILLS-image {
  margin-bottom: 85px;
} */


/* Image Slider Styling */
.slider-wrapper .evidence-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.slider-wrapper .evidence-list .LEO-image {
  object-fit: cover;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.slider-wrapper .evidence-list .NTHS-image {
  object-fit: cover;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.slider-wrapper .evidence-list .SKILLS-image {
  object-fit: cover;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

/*
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  padding: 0 60px;
}

.slider-container .slider-wrapper {
  max-width: 720px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}

/* LEO Slider Container *//*
.leoS1-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.leoS1-slider-container .slider-wrapper {
  max-width: 830px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}
.leoS2-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.leoS2-slider-container .slider-wrapper {
  max-width: 630px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}


/* NTHS Slider Container *//*
.nthsS1-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.nthsS1-slider-container .slider-wrapper {
  max-width: 830px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}
.nthsS2-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.nthsS2-slider-container .slider-wrapper {
  max-width: 600px;
  width: 100%;
  align-items:  center;
  justify-content:  center;
}

/* SkillsUSA Slider Container *//*
.skills-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.skills-slider-container .slider-wrapper {
  max-width: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* Image Slider Buttons *//*
.slider-wrapper .slide-button {
  position: absolute;
  top: 42.5%;
  height: 50px;
  width: 50px;
  color: #EFE6EC;
  box-shadow: 0px 0.2px 3px #58374A;
  border: none;
  outline: none;
  font-size: 2.2rem;
  background: #623950;
  cursor: pointer;
  border-radius: 25%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #8D5374;
}

.slider-wrapper .slide-button#prev-slide {
  left: -60px;
  display: none;
} 
.slider-wrapper .slide-button#next-slide {
  right: -60px;
} 
